.row
  .span6.h2-like Log in
  %br
  %br
  .span6
    -#= render "users/shared/links"
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .center.hero-unit
    = render 'shared/error_messages', object: resource
    %h3
      Welcome.
      -#= SITE_NAME + "."
      %br
      Please enter your login details.
    %br
    .row
      = f.label :email
      = f.email_field :email, autofocus: true, disabled: !session["devise.user2_attributes"].blank? 
      = f.label :password
      = f.password_field :password
      %br
    -#.row
      .span4.offset3
        %a.help-popover-direct.blue{"data-placement"=>'right'}
          ="Don't lose your Password!"
          .span1.offset3
            %span.help-content-popover{"data-placement"=>'right', |
              "title"=>popover_help_title("Password Lost"), |
              "data-content"=>popover_help_content("Password Lost")} |
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me
    %br
    = f.submit "Log in"



